*.jar
*.war
*.ear
*.db
rebel.xml
# Windows #
Thumbs.db
Desktop.ini
*.svn
*.class
target
!*.dll

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr
*.log
mvnw
mvnw.*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch